<h2>Users</h2>

<% unless @users.blank? -%>
	<% @users.each do |user| -%>
		<div id="users">
			<div id="<%= dom_id(user) %>">
				<p>
					<%= link_to h(user.name), profile_path(user) %> &middot;
				</p>
			</div>
		</div>
	<% end -%>
<% else -%>
	<div>
		<p class='empty'>
			This site does not have any verified users.
		</p>
	</div>
<% end -%>