<h2>Profile: <%= @user.name %></h2>
<div id="user_profile">
	<div id="<%= dom_id(@user) + '_profile_private' %>" style="display: none;">
		<p>
			<%= link_to 'My messages', messages_path %>
		</p>
		<p>
			Security note: Please note that user profiles are not private and can be viewable by any user.
		</p>
	</div>
</div>