<h2>Your relationships</h2>

<% unless @relationships.blank? -%>
	<% @relationships.each do |relationship| -%>
	
	<div id="<%= dom_id(relationship) %>">
		<p>
			Relation ship: <%= relationship.relation.name %>
			<%= link_to 'End relationship', :id => dom_id(relationship) + '_delete', :method => :delete,
		    :confirm => "Are you sure you want to end this relationship?" %>
		</p>
	</div>
	
	<% end -%>
<% else -%>
	<p>
		You do not have any relationships.
	</p>
<% end -%>